body {
<<<<<<< HEAD
	position: relative;
}

header {
	display: none;
}

//выравнивание в fullscreen.js
.fp-tableCell {
	// vertical-align: top;
	display: block;
	height : 0 !important;

}

//safari fix
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after{
	-webkit-transform: translate3d(0,0,0);
}
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after{
	-webkit-transform: translate3d(0,0,0);
}
#fp-nav ul li{
	-webkit-transform: translate3d(0,0,0);
}


//re-useble classes
.title {
	font-family   : BankGothicRUSS;
	text-align    : center;
	font-size     : 26px;
	line-height   : 36px;
	font-weight   : 700;
	letter-spacing: -.05em;
	color         : #8c8256;
}


.discription {
	font-size     : 23px;
	line-height   : 36px;
	font-weight   : 300;
	letter-spacing: -0.025em;
	color         : #a59b6e;
}

.button {
	overflow       : hidden;
	position       : relative;
	display        : flex;
	align-items    : center;
	justify-content: center;
	border         : $main-color 2px solid;
	border-radius  : 7px;
	color          : $main-color;
	font-family    : BankGothicRUSS;
	overflow       : hidden;

}

.buttonBG {
	position  : absolute;
	height    : 100%;
	width     : 100%;
	top       : 0px;
	left      : 0px;
	z-index   : -2;
	opacity   : 0;
	background: url('../img/section-1/buttons/back.png') repeat;
}

.section-bg {
	//задний фрон секций
	overflow: hidden;
	position: relative;
	height  : 100vh;

	&__background {
		display: flex;

		img {
			width     : 100%;
			height    : 100%;
			position  : absolute;
			object-fit: cover;
			top       : 0;
			left      : 0;
			z-index   : -2;
		}
	}
=======
	background-color: black;
>>>>>>> main
}

@media (max-width: 900px) {

	//убираем поэкранный скролл и освобождаем блоки
	.section-bg {
		// height: 100% !important;
	}
}

//bullit text
.fp-tooltip {
	color      : $main-color !important;
	font-family: muller !important;

}

//main styles
.container {
	max-width: 1235px;
	margin   : 0 auto;
	padding  : 0 15px
}

<<<<<<< HEAD
//menu
.wrapper {
	max-width: 1050px;
	margin   : 0 auto;
}

.navigation {
	position : fixed;
	max-width: 1100px;
	padding  : 0px 30px 0 0;
	top      : 30px;
	z-index  : 1000;
	width    : 100%;

	&__flex {
		display        : flex;
		justify-content: space-between;
	}

	&__link {
		display       : inline-block;
		margin-top    : 26px;
		color         : $main-color;
		font-family   : BankGothicRUSS;
		font-size     : 15px;
		line-height   : 20px;
		font-weight   : 700;
		text-transform: uppercase;
		letter-spacing: -0.05em;
	}

	&__logo {
		display   : inline-block;
		margin-top: -26px;
		width     : 180px;
	}

	&__language {
		position: relative;

		&::after {
			content         : "";
			position        : absolute;
			display         : inline-block;
			width           : 1px;
			height          : 25px;
			background-color: $main-color;
			top             : -4px;
			right           : -10px;
		}
	}

	&__access {
		display        : flex;
		justify-content: center;
		align-items    : center;
		width          : 190px;
		height         : 51px;
		border         : 2px solid $main-color;
		border-radius  : 7px;
		margin-top     : 12px;

		&:hover {
			color : #29201a;
			border: none;
		}

		&:hover .buttonBG {
			border-radius: 7px;
			opacity   : 1;
			transition: opacity ease 0.5s;
		}
	}
}

//burger media
@media (max-width: 992px) {
	header {
		display: block;
	}

	#fp-nav {
		display: none;
	}

	.navigation__access:hover,
	.content__button:hover {
		color        : $main-color;
		border       : 2px solid $main-color;
		border-radius: 7px;
	}

	.navigation__access:hover,
	.content__button:hover .buttonBG {
		background   : none;
		// transition: none;

	}

	.webp .buttonBG {
		display: none;
	}

	.navigation {
		// position: absolute;
		top   : 0px;
		height: 70px;

		.burger {
			position: absolute;
			top     : 20px;
			right   : 60px;
			width   : 50px;
			height  : 30px;
			z-index : 1000;

			&__item {
				display         : block;
				width           : 100%;
				height          : 2px;
				background-color: $main-color;
				transition      : all 0.3s;
				margin-top      : 12px;
			}
		}

		.burger_active {
			top: 33px;
		}

		.burger_active .burger__item {
			margin-bottom: -14px;

			&:nth-last-child(1) {
				transform : rotate(-45deg);
				transition: all 0.3s;
			}

			&:nth-last-child(2) {
				display   : none;
				transition: all 1s;
			}

			&:nth-last-child(3) {
				transform : rotate(45deg);
				transition: all 0.3s;
			}
		}
	}

	.navigation__flex {
		position        : absolute;
		display         : flex;
		top             : 0;
		left            : -100%;
		width           : 50%;
		height          : 100vh;
		background-color: #000000c6;
		flex-direction  : column;
		justify-content : center;
		align-items     : center;
		transition      : all 1s;

		li {
			padding: 10px 0;
		}
	}

	.navigation__flex_active {
		top       : 0;
		left      : 0;
		transition: all 1s;
	}
}

//main section=====================================
body {
	background-color: black;
}

.main-section {
	&__content {
		height         : 100vh;
		display        : flex;
		flex-direction : column;
		align-items    : center;
		justify-content: center;
		max-width      : 995px;
		margin         : 0 auto;
	}
}



.content {
	&__discription {
		margin-top     : 230px;
		text-align     : justify;
		text-align-last: center;
		max-width      : 900px;
	}

	&__buttons {
		max-width      : 554px;
		display        : flex;
		flex-wrap      : wrap;
		justify-content: space-between;
		margin-top     : 62px;
	}

	&__button {
		font-size: 19px;
		width    : 222px;
		height   : 63px;
		&:hover {
			color : #29201a;
			border: none;
		}

		&:hover .buttonBG {
			opacity   : 1;
			border-radius: 7px;
			transition: opacity ease 0.5s;
		}

		&:nth-child(1) {
			margin: 0px 24px 0px 0px;
		}
	}
}


//перемычка translate3d: (0, 0, 0,);

.planet:before {
	content         : "";
	z-index         : 1113;
	position        : absolute;
	width           : 100%;
	height          : 58px;
	top             : -27px;
	left            : 0px;
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 97%, rgba(0, 0, 0, 0) 98%);
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 97%, rgba(0, 0, 0, 0) 98%);
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 97%, rgba(0, 0, 0, 0) 98%);
	filter          : progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=0);
}

@media (max-height: 646px) {
	.content__discription {
		max-width     : 780px;
		font-size     : 17px;
		line-height   : 25px;
		font-weight   : 300;
		letter-spacing: -.025em;
		color         : #a59b6e;
	}

	.content__button {
		font-size: 14px;
		width    : 185px;
		height   : 53px;
	}
}
=======
>>>>>>> main


//section planet=====================================

.planet {
	background: url('../img/section-2/bg2.3.jpg') 50% 42px /auto 560px no-repeat;

	&__title {
		margin-top: 60px;
	}

	&__icons-flex {
		display        : flex;
		justify-content: space-between;
		margin         : 0 auto;
		width          : 460px;
		// height: 708px;
		margin-top     : 20px;
	}

	&__flex-culomn {}

	&__flex-culomn-start {
		display       : flex;
		flex-direction: column;
	}

	&__flex-culomn-end {
		display       : flex;
		flex-direction: column;
	}

	&__flex-item {
		width              : 80px;
		height             : 80px;
		background-position: center center;
		background-repeat  : no-repeat;
		background-size    : 56px 62px;
		// transition: background 0.5s;
		position           : relative;

		img {
			position: absolute;
		}

		h3 {
			position      : absolute;
			font-family   : Muller;
			font-size     : 11px;
			font-weight   : 700;
			letter-spacing: 0.02em;
			color         : #a59b6e;
			text-align    : center;
			top           : 96%;
			left          : -76%;
			width         : 200px;
			opacity       : 0;
		}

		&:hover {
			background-position: center center;
			background-repeat  : no-repeat;
			background-size    : 80px 84px;

			// transition: background 0.5s;
			h3 {
				opacity   : 1;
				transition: all 0.8s;
			}
		}
	}

	&__discription {
		text-align     : justify;
		text-align-last: center;
		font-size      : 20px;
		line-height    : 28px;
		max-width      : 1000px;
		margin         : 0 auto;
		margin-top     : 130px;
		padding        : 0px 15px;
	}

	.item1 {
		background-image: url('../img/section-2/icons/1.png');
		margin-top      : 24px;

		img {
			top  : 48%;
			left : 67px;
			width: 100px;
		}

		&:hover {
			background-image: url('../img/section-2/icons/1a.png');

		}
	}

	.item2 {
		background-image: url('../img/section-2/icons/2.png');
		margin-top      : 69px;

		img {
			top : 69%;
			left: 68px;
		}

		&:hover {
			background-image: url('../img/section-2/icons/2a.png');
		}
	}

	.item3 {
		background-image: url('../img/section-2/icons/3.png');
		margin-right    : 59px;

		img {
			top : 78%;
			left: 56px;
		}

		h3 {
			top       : 29%;
			left      : 94%;
			text-align: left;
		}

		&:hover {
			background-image: url('../img/section-2/icons/3a.png');
		}
	}

	.item4 {
		background-image: url('../img/section-2/icons/4.png');

		img {
			top  : 79%;
			right: 55px;
		}

		h3 {
			top       : 36%;
			left      : 94%;
			text-align: left;
		}

		&:hover {
			background-image: url('../img/section-2/icons/4a.png');
		}
	}

	.item5 {
		background-image: url('../img/section-2/icons/5.png');
		margin-top      : 69px;

		img {
			top   : 69%;
			right : 67px;
			width : 129px;
			height: 74px;
		}

		&:hover {
			background-image: url('../img/section-2/icons/5a.png');
		}
	}

	.item6 {
		background-image: url('../img/section-2/icons/6.png');
		margin-top      : 24px;

		img {
			top  : 48%;
			right: 68px;
			width: 100px;
		}

		&:hover {
			background-image: url('../img/section-2/icons/6a.png');
		}
	}
}


@media (max-width: 1519px) {

}


@media (max-height: 710px),
(max-width: 1000px) {
	.planet__title {
		margin-top: 38px;
	}

	.planet {
		background: url('../img/section-2/bg2.3.jpg') 50% 20px /auto 560px no-repeat;
	}

	.planet__discription {
		margin-top: 64px;
		max-width : 859px;
	}
}

@media (max-height: 650px) {
	.planet__discription {
		margin-top : 80px;
		font-size  : 15px;
		line-height: 21px;
	}

	.planet__title {
		margin-top: 30px;
		font-size : 23px;
	}

	.planet {
		background: url('../img/section-2/bg2.3.jpg') 50% 5px /auto 560px no-repeat;
	}
}

//section 3

.spaceship {
	&__title {
		margin-top: 94px;
	}

	&__flex {
		margin-top : 25px;
		display    : flex;
		align-items: flex-end;
		align-items: flex-end;
		height     : 73vh;
	}

	&__place {
		flex: 1 1 40%;
	}

	&__discription {
		text-align : right;
		flex       : 1 1 70%;
		line-height: 25px;
	}
}

@media (max-height: 660px),
(max-width: 1100px) {
	.spaceship__discription {
		font-size     : 19px;
		line-height   : 18px;
		padding-bottom: 30px;
	}
}

@media (max-height: 620px),
(max-width: 900px) {
	.spaceship__discription {
		font-size     : 16px;
		line-height   : 18px;
		padding-bottom: 30px;
	}
}

//section 4

.solution {
	background: url('../img/section-4/bg/main-bg.jpg')0 0/cover no-repeat;

	&__title {
		margin-top: 45px;
	}

	&__mainflex {
		display   : flex;
		margin    : 0 auto;
		margin-top: 20px;
		max-width : 900px;
	}

	&__flex-discription {
		background: url('../img/section-4/bg/med-bg.png')0 0/100% 100% no-repeat;
		width     : 100%;
		height    : 465px;
		position  : relative;
		padding   : 55px;
	}

	&__flex-choice {
		width   : 560px;
		height  : 465px;
		position: relative;
	}

	&__change-item {
		position      : absolute;
		background    : url('../img/section-4/bg/small-no-active.png')0 0/100% 100% no-repeat;
		width         : 90%;
		height        : 84px;
		margin-top    : 24px;
		font-family   : BankGothicRUSS;
		font-size     : 24px;
		letter-spacing: -0.05em;
		line-height   : 21px;
		font-weight   : 700;
		color         : #a59b6e;
		display       : flex;
		align-items   : center;
	}

	&__info {
		font-family   : Muller;
		font-size     : 16px;
		line-height   : 15px;
		font-weight   : 700;
		letter-spacing: -0.01em;
		color         : #686763;
		text-align    : center;
	}
}

.item-1 {
	padding-left: 90px;
	top         : 0px;
	left        : 0px;

	&::before {
		content   : '';
		display   : block;
		position  : absolute;
		top       : 23px;
		left      : 26px;
		width     : 38px;
		height    : 38px;
		background: url('../img/section-4/icons/common/1.png')0 0/100% 100% no-repeat;
	}
}

.item-2 {
	padding-left: 90px;
	top         : 109px;
	left        : 0px;

	&::before {
		content   : '';
		display   : block;
		position  : absolute;
		top       : 23px;
		left      : 26px;
		width     : 30px;
		height    : 38px;
		background: url('../img/section-4/icons/common/2.png')0 0/100% 100% no-repeat;
	}
}

.item-3 {
	padding-left: 90px;
	top         : 220px;
	left        : 0px;

	&::before {
		content   : '';
		display   : block;
		position  : absolute;
		top       : 23px;
		left      : 26px;
		width     : 31px;
		height    : 38px;
		background: url('../img/section-4/icons/common/3.png')0 0/100% 100% no-repeat;
	}
}

.item-4 {
	padding-left: 90px;
	top         : 333px;
	left        : 0px;

	&::before {
		content   : '';
		display   : block;
		position  : absolute;
		top       : 23px;
		left      : 26px;
		width     : 38px;
		height    : 38px;
		background: url('../img/section-4/icons/common/4.png')0 0/100% 100% no-repeat;
	}
}

//табы большого флекса


//tab1
.tab {
	position: absolute;
	top     : 0px;
	left    : 0px;

	&__discription {
		display        : flex;
		flex-direction : column;
		justify-content: space-between;
		height         : 100%;
	}

	&__title {
		text-transform: uppercase;
	}

	&__text {
		align-self   : flex-start;
		// margin-top: 20px;
		font-family  : Muller;
		font-size    : 21px;
		line-height  : 26px;
		color        : #9c9b98;
	}
}

.tab {
	&__flex {
		display        : flex;
		justify-content: space-between;
	}

	&__hexagon {
		height         : 90px;
		width          : 80px;
		background     : url('../img/section-4/icons/hexagon.png') 0 0/100% 100%;
		display        : flex;
		justify-content: center;
		align-items    : center;
	}

	&__image {
		height: 25px;
		width : 25px;
	}
}

.tab1 {
	&__image1 {
		height: 33px;
		width : 30px;
	}

	&__image2 {
		height: 27px;
		width : 30px;
	}

	&__image3 {
		height: 35px;
		width : 32px;
	}
}

.tab2 {
	&__image1 {
		height: 20px;
		width : 32px;
	}

	&__image3 {
		height: 35px;
		width : 35px;
	}

	&__image4 {
		height: 35px;
		width : 25px;
	}
}


.tab4 {
	&__image1 {
		height: 20px;
		width : 32px;
	}
}



.tabs__pane {
	display: none;
}

.tabs__pane_show {
	display: flex;
}

.tabs__link_active {
	background  : url('../img/section-4/bg/small-active.png')100% 100%/100% 100% no-repeat;
	width       : 104%;
	height      : 126px;
	margin-top  : 3px;
	left        : -23px;
	padding-left: 113px;

	&::before {
		top : 44px;
		left: 49px;
	}
}

@media (max-height: 640px) {
	.solution__title {
		margin-top : 17px;
		font-size  : 21px;
		line-height: 29px;
	}

	.solution__mainflex {
		margin-top: 0px;
	}
}

//section 5
.gallery{
	&__title{
		margin-top: 30px;
	}
}

//swiper
.swiper-params{
	width: 900px;
	height: 70%;
}
@media (max-width: 899px) {
	.swiper-params{
		width: 80%;
	}
}

.swiper-container {
	width       : 100%;
	height      : 83%;
	margin-left : auto;
	margin-right: auto;
	margin-top  : 20px;
}

.swiper-slide {
	background-size    : cover;
	background-position: center;
}
.swiper-slide2{
	background-position: 0px 0px;
}

.gallery-top {
	height: 80%;
	width : 100%;
}

.gallery-thumbs {
	height    : 25%;
	box-sizing: border-box;
	padding   : 0 0;
	margin-top: 8px;
}

.gallery-thumbs .swiper-slide {
	width  : 25%;
	height : 100%;
	opacity: 0.4;
}

.gallery-thumbs .swiper-slide-thumb-active {
	opacity: 1;
}

//section footer
.footer {
	&__main-flex{
		display: flex;
		flex-direction: column;
		height: 100vh;
	}
	&__flex-container {
		flex:0 0 55%;
		width: 100%;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		margin-top: 8%;
		padding: 0 0 53px 0;
	}

	&__logo-and-button {
	}

	&__logo {
		background: url('../img/section-6/logo_footer.jpg') 0 0/cover no-repeat;
		height: 220px;
		width: 300px;
	}

	&__button {
		margin: 0 auto;
		width: 168px;
		height: 42px;
		margin-top: 10px;
	}

	&__text {
	}

	&__title {
		text-align: left;
	}

	&__subtitle {
		margin-top: 5px;
		color: #b4aa78;
		font-family: Muller;
		font-size: 15px;
		line-height: 20px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: -.05em;
		&:nth-child(2){
			margin-top: 35px;
		}
		&:nth-child(3){
			margin-top: 35px;
		}
		
		span{
			color: #d8d2b3;
			font-family: Muller;
			font-size: 15px;
			line-height: 20px;
			font-weight: 300;
			letter-spacing: -.05em;
			text-transform: none;
			padding-left: 7px;
		}
	}
}

.footer {

	&__footer {
		padding-top: 20px;
		background-color: #10100f;
		flex:1 1 30%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__about {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 auto;
		width: 465px;
		li{
			flex:1 1 100%;
			width: 36px;
			height: 33px;
			a{
				display: block;
				width: 26px;
				height: 23px;
			}
		}
	}
	&__about-text{
		padding-right: 30px;
		width: 300px!important;
		white-space: nowrap;
		color: #b4aa78;
		font-family: BankGothicRUSS;
		font-size: 15px;
		line-height: 20px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: -.05em;
	}

	&__link {

	}
	&__link1 {
		background: url('../img/section-6/icons/1.png') center center/contain  no-repeat ;
	}
	&__link2 {
		background: url('../img/section-6/icons/2.png') center center/contain  no-repeat ;
	}
	&__link3 {
		background: url('../img/section-6/icons/3.png') center center/contain  no-repeat ;
	}
	&__link4 {
		background: url('../img/section-6/icons/4.png') center center/contain  no-repeat ;
	}
	&__link5 {
		background: url('../img/section-6/icons/5.png') center center/contain  no-repeat ;
	}
	&__link6 {
		background: url('../img/section-6/icons/6.png') center center/contain  no-repeat;
	}
	&__buttom-menu{
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 550px;
		color: #d8d2b3;
		font-family: Muller;
		font-size: 15px;
		line-height: 20px;
		font-weight: 300;
		letter-spacing: -.05em;
		text-transform: none;
		padding-left: 7px;

		margin: 0 auto;


	}
	&__mini-logo{

		a {
		display: block;
		background: url('../img/section-6/logo/logo-mini.png') center 30px /contain  no-repeat;
		height: 100px;
		width: 100px;
		}
	}
}

