body {
	background-color: black;
}

@media (max-width: 900px) {

	//убираем поэкранный скролл и освобождаем блоки
	.section-bg {
		// height: 100% !important;
	}
}

//bullit text
.fp-tooltip {
	color      : $main-color !important;
	font-family: muller !important;

}

//main styles
.container {
	max-width: 1235px;
	margin   : 0 auto;
	padding  : 0 15px
}
