//section 4

.solution {
	overflow: hidden;
	background: url('../img/section-4/bg/main-bg.jpg')0 0/cover no-repeat;
	display: flex;
	align-items: center;
	
	&__title {
		margin-bottom: 45px;
	}

	&__mainflex {
		display   : flex;
		margin    : 0 auto;
		margin-top: 20px;
		max-width : 900px;
	}

	&__flex-discription {
		background: url('../img/section-4/bg/med-bg.png')0 0/100% 100% no-repeat;
		width     : 100%;
		height    : 465px;
		position  : relative;
		padding   : 55px;
	}

	&__flex-choice {
		width   : 560px;
		height  : 465px;
		position: relative;
	}

	&__change-item {
		position      : absolute;
		background    : url('../img/section-4/bg/small-no-active.png')0 0/100% 100% no-repeat;
		width         : 90%;
		height        : 84px;
		margin-top    : 24px;
		font-family   : BankGothicRUSS;
		font-size     : 24px;
		letter-spacing: -0.05em;
		line-height   : 21px;
		font-weight   : 700;
		color         : #a59b6e;
		display       : flex;
		align-items   : center;
	}

	&__info {
		font-family   : Muller;
		font-size     : 16px;
		line-height   : 15px;
		font-weight   : 700;
		letter-spacing: -0.01em;
		color         : #686763;
		text-align    : center;
	}
}

.item-1 {
	padding-left: 90px;
	top         : 0px;
	left        : 0px;

	&::before {
		content   : '';
		display   : block;
		position  : absolute;
		top       : 23px;
		left      : 26px;
		width     : 38px;
		height    : 38px;
		background: url('../img/section-4/icons/common/1.png')0 0/100% 100% no-repeat;
	}
}

.item-2 {
	padding-left: 90px;
	top         : 109px;
	left        : 0px;

	&::before {
		content   : '';
		display   : block;
		position  : absolute;
		top       : 23px;
		left      : 26px;
		width     : 30px;
		height    : 38px;
		background: url('../img/section-4/icons/common/2.png')0 0/100% 100% no-repeat;
	}
}

.item-3 {
	padding-left: 90px;
	top         : 220px;
	left        : 0px;

	&::before {
		content   : '';
		display   : block;
		position  : absolute;
		top       : 23px;
		left      : 26px;
		width     : 31px;
		height    : 38px;
		background: url('../img/section-4/icons/common/3.png')0 0/100% 100% no-repeat;
	}
}

.item-4 {
	padding-left: 90px;
	top         : 333px;
	left        : 0px;

	&::before {
		content   : '';
		display   : block;
		position  : absolute;
		top       : 23px;
		left      : 26px;
		width     : 38px;
		height    : 38px;
		background: url('../img/section-4/icons/common/4.png')0 0/100% 100% no-repeat;
	}
}

//табы большого флекса


//tab1
.tab {
	position: absolute;
	top     : 0px;
	left    : 0px;

	&__discription {
		display        : flex;
		flex-direction : column;
		justify-content: space-between;
		height         : 100%;
	}

	&__title {
		text-transform: uppercase;
	}

	&__text {
		align-self   : flex-start;
		// margin-top: 20px;
		font-family  : Muller;
		font-size    : 19px;
		line-height  : 26px;
		color        : #9c9b98;
	}
}

.tab {
	&__flex {
		display        : flex;
		justify-content: space-between;
	}

	&__hexagon {
		height         : 90px;
		width          : 80px;
		background     : url('../img/section-4/icons/hexagon.png') 0 0/100% 100%;
		display        : flex;
		justify-content: center;
		align-items    : center;
	}

	&__image {
		height: 25px;
		width : 25px;
	}
}

.tab1 {
	&__image1 {
		height: 33px;
		width : 30px;
	}

	&__image2 {
		height: 27px;
		width : 30px;
	}

	&__image3 {
		height: 35px;
		width : 32px;
	}
}

.tab2 {
	&__image1 {
		height: 20px;
		width : 32px;
	}

	&__image3 {
		height: 35px;
		width : 35px;
	}

	&__image4 {
		height: 35px;
		width : 25px;
	}
}


.tab4 {
	&__image1 {
		height: 20px;
		width : 32px;
	}
}



.tabs__pane {
	display: none;
}

.tabs__pane_show {
	display: flex;
}

.tabs__link_active {
	background  : url('../img/section-4/bg/small-active.png')100% 100%/100% 100% no-repeat;
	width       : 104%;
	height      : 126px;
	margin-top  : 3px;
	left        : -23px;
	padding-left: 113px;

	&::before {
		top : 44px;
		left: 49px;
	}
}

@media (max-height: 640px) {
	.solution__title {
		margin-top : 17px;
		font-size  : 21px;
		line-height: 29px;
	}

	.solution__mainflex {
		margin-top: 0px;
	}
}