//section planet=====================================

.container-planet {
	margin    : 0 auto;
	max-width     : 1400px;
	
}

.planet {
	overflow: hidden;
	background : url('../img/section-2/nebo.jpg')50% 42px /auto auto no-repeat;
	display    : flex;
	justify-content: center;
	flex-direction: column;
	&__place-holder{
		height: 0px;
	}
	&__title {
		font-size: 33px;
		margin-top: 5%;
	}

	&__icons-flex {
		display        : flex;
		justify-content: space-between;
		margin         : 0 auto;
		width          : 680px;
		height: 500px;
		margin-top     : 20px;
		background: url('../img/section-2/planet.png') 50% 40px /auto 500px no-repeat;

		
	}

	&__flex-culomn {}

	&__flex-culomn-start {
		display       : flex;
		flex-direction: column;
	}

	&__flex-culomn-end {
		display       : flex;
		flex-direction: column;
	}

	&__flex-item {//колонка
		width              : 107px;
		height             : 115px;
		background-position: center center;
		background-repeat  : no-repeat;
		background-size    : 87px 97px;
		// transition: background 0.5s;
		position           : relative;

		img {
			position: absolute;
		}

		h3 {
			position      : absolute;
			font-family   : Muller;
			font-size     : 14px;
			font-weight   : 400;
			letter-spacing: 0.02em;
			color         : #a59b6e;
			text-align    : center;
			top           : 102%;
			left          : -76%;
			width         : 260px;
			opacity       : 0;
			line-height: 18px;
		}

		&:hover {
			background-position: center center;
			background-repeat  : no-repeat;
			background-size: 126px 132px;
			// transition: background 0.5s;
			h3 {
				opacity   : 1;
				transition: all 0.8s;
			}
		}
	}

	&__discription {
		text-align     : justify;
		text-align-last: center;
		line-height    : 28px;
		margin         : 0 auto;
		margin-top     : 0%;
		padding        : 0px 15px;
		width          : 85%;
		font-size      : 23px;
	}




	.item1 {
		background-image: url('../img/section-2/icons/1.png');
		margin-top      : 59px;

		img {
			top  : 48%;
			left : 67px;
			width: 100px;
		}

		&:hover {
			background-image: url('../img/section-2/icons/1a.png');

		}
	}

	.item2 {
		background-image: url('../img/section-2/icons/2.png');
		margin-top      : 90px;

		img {
			top : 69%;
			left: 68px;
		}

		&:hover {
			background-image: url('../img/section-2/icons/2a.png');
		}
	}

	.item3 {
		background-image: url('../img/section-2/icons/3.png');
		margin-right    : 105px;

		img {
			top : 78%;
			left: 56px;
		}

		h3 {
			top       : 29%;
			left      : 110%;
			text-align: left;
		}

		&:hover {
			background-image: url('../img/section-2/icons/3a.png');
		}
	}

	.item4 {
		background-image: url('../img/section-2/icons/4.png');

		img {
			top  : 79%;
			right: 55px;
		}

		h3 {
			top       : 36%;
			left      : 111%;
			text-align: left;
		}

		&:hover {
			background-image: url('../img/section-2/icons/4a.png');
		}
	}

	.item5 {
		background-image: url('../img/section-2/icons/5.png');
		margin-top      : 90px;

		img {
			top   : 69%;
			right : 67px;
			width : 129px;
			height: 74px;
		}

		&:hover {
			background-image: url('../img/section-2/icons/5a.png');
		}
	}

	.item6 {
		background-image: url('../img/section-2/icons/6.png');
		margin-top      : 59px;

		img {
			top  : 48%;
			right: 68px;
			width: 100px;
		}

		&:hover {
			background-image: url('../img/section-2/icons/6a.png');
		}
	}
}








